<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="suo.css" rel="stylesheet" type="text/css" />
    </head>
<body>
    <table cellpadding="5" align="center">
        <tr height="15%" onClick="goHome();">
            <td align="center" width="20%">
                <img src="logo2.png" />
            </td>
            <td align="center" name="terminalName" class="header">
                @Page.Title
            </td>
            <td width="20%">
                &nbsp;
            </td>
        </tr>

        <tr bgcolor="white">
            <td align="center" class="counter" colspan="3">
                <form action="/" method="post">
                    @RenderBody()
                    <input type="hidden" id="homesite" name="homesite" value="@(Request["homesite"])" />
                </form>
            </td>
        </tr>

        <tr height="15%">
            <td class="footer" align="center" colspan="3">
               @Page.Advise
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="~/counters.js"></script>
</body>
</html>
