
.maintable 
{
    margin:15px;
    width: 98%;
}
.maintable .row div
{
  /*  margin-top:-1px;*/
    text-align: center;
    border: 1px solid #dee2e6 !important;
    padding: 3px;
}
.wrong-column {
    position: relative;
    overflow: hidden;
}

    .wrong-column::before {
        position: absolute;
        top: 10%;
        display: block;
        width: 150%;
        height: 100%;
        transform: rotate(-10deg);
        content: "не тот столбик не тот столбик не тот столбик не тот столбик не тот столбик не тот столбик ";
        opacity: 0.7;
        line-height: 0.8em;
        /*! letter-spacing: 1px; 
        left: -15%;*/
        color: #f44;
    }

.caption 
{
    /* transform: rotate(-90deg);*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


select {
    margin-top: 10px !important;
    min-width: 180px;
}

.maintable .row 
{  
  border:0;
}

.maintable div input
{
    width: 100%;
    text-align: center;
    border:0;
}

.btn {
    background-color: #f2f0f0f7;
    margin: 10px;
}

.footer {
    margin-bottom: 30px;
    border-bottom: 1px solid grey;
}

.inactive1{
	background-color: #68c !important;
	color: #7af !important;
}


.empty {
    position: relative;
    color: #7f94a1;
}

    .empty:before {
        border-bottom: 3px solid red;
        position: absolute;
        content: "";
        width: 100%;
        height: 50%;
        transform: rotate(-12deg);
    }