* {
	font-family: sans-serif;
}

body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;	
	background: navy;
/*	
    color: white;
    cursor:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

*/
}

body > table {
	width: 100%;
	height: 100%;
	border-spacing: 0;
	border-width: 0;
	padding: 0;
}

.counter{    
	font-size: 24pt;
	font-weight: bold;
    color:navy;
}

.large{    
	font-size: 32pt;
}

.counterName{    
    /*
    margin-right: 100px;
    margin-left: 100px;
    */
    width: 200px;
    display:inline-block;
}

.oldValue{    
    width: 200px;
    display: inline-block;
    text-align: center;
/*    padding-right:20px;*/
}

.existValue{
    display:inline-block;
    width: 200px;
    font-size: 30px;
    color: navy;
    font-weight: 600;
    text-align: center;
}
.newValue{
    display:inline-block;
    width: 200px;
    font-size: 30px;
    color: navy;
    font-weight: 600;
    text-align: right;
}

.active{
    box-shadow: 1px 1px 3px #008;
}

.tooBig{
    box-shadow: 1px 1px 8px #a33;
}

::-webkit-input-placeholder {color:#7af;}
::-moz-placeholder          {color:#7af;}/* Firefox 19+ */
:-moz-placeholder           {color:#7af;}/* Firefox 18- */
:-ms-input-placeholder      {color:#7af;}

.CounterTitle>span{
    font-size: 22px;
    width: 200px;
    display:inline-block;
    /* text-align: right;*/
}

.CounterTitle{
    font-size: 22px;
    width: 800px;    
}

.CounterRequest{
    width:800px;
}

.header {
	color: white;
	font-size: 24pt;
	font-weight: bold;
}

.footer {
	color: white;
	font-size: 24pt;
	font-weight: bold;
}

.info {
    background-color:white;
	color: navy;
	font-size: 24pt;
	font-weight: bold;
}

/* Ticket print buttons */
.queueButton {
	width:70%;
	height:100%;	
	color: red;
	font-family: sans-serif;
}

.buttonTitle {
	font-size: 24pt;
	font-weight: bold;
}

.buttonComment {
	font-size: 16pt;
	font-weight: bold;
}

/* Navigation buttons */
.navButton {
	width:70%;
	height:100%;
	
	color: navy;
	font-family: sans-serif;
	font-size: 24pt;
	font-weight: bold;
}

/* 4 5 7 5- */

.container{
/*	cursor:none;
	margin: 0 -40px;*/
	align-self: center;
	text-align: center;
}

.keyboard{
	display:inline-block;			
}

.keyboard>ul{
	padding: 0 40px;
}

.keyboard>ul>li{
	display:inline-block;
	text-align: center;
	vertical-align: middle;
	background-color: navy;
	color: white;
	border-radius: 5px;
	margin: 0 10px;
	width: 70px;
	height: 60px;
	padding-top: 10px;
	font-size: 46px;
	/*cursor:none;
	box-shadow   : 0 0 5px red;*/
}

.btn{
	height: 60px !important;
	width: 170px !important;
	padding-top: 15px !important;
	font-size: 32px !important;
	display:inline-block;
	border-radius: 5px;
	background-color: navy;
	color: white;
	vertical-align: top;
   	margin-top: 40px;
}

.inactive{
	background-color: #68c !important;
	color: #7af !important;
}

#nextBtn{
	height: 100px !important;
	padding-top: 25px !important;
}

#backBtn{
	height: 100px !important;
	padding-top: 20px !important;
	background-color: navy;
	color: white;
}

#lic_number{
	font-size: 46px;
	align-self: center;
	margin: 0 0 70px 0;			
    	border-color: transparent;
	text-align: center;
	color:navy;
}
